.main-wrap {
    margin-left: auto;
}
footer {
    margin-top: 0;
}
.nav{
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .center-cus{
        text-align: center; !important;
    }
}
.container-sm, .container {
    max-width: initial;}